<div class="container">
  <% @products.each do |product| %>
    <%= product.name %>
    <%= product.price %>
    <%= product.description %>
    <%= product.storage %>
    <%= product.ingredient %>
  <% end %>
</div>
