<div class="container my-3">
  <div class="cards">
    <% @products.each do |product| %>
      <div class="card-product rounded">
        <% if product.photos.attached? %>
          <% product.photos.each_with_index do |photo, index| %>
            <%= cl_image_tag photo.key, class: "d-block w-70", style: 'width:100%; height:100%;', crop: :fill %>
          <% end %>
        <% else %>
          <div id="carouselExampleControls" class="carousel slide m-0 p-0" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <%= image_tag 'food01.png', class: "d-block w-100", height: 300, crop: :fill %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'food02.png', class: "d-block w-100", height: 300, crop: :fill %>
              </div>
              <div class="carousel-item">
                <%= image_tag 'food03.png', class: "d-block w-100", height: 300, crop: :fill %>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% end %>
        <%= link_to product_path(product) do %>
        <div class="card-product-infos">
          <div class="d-flex flex-row justify-content-between align-items-center">
            <h2><%= product.name %></h2>
            <h3>R$<%= product.price %>,00</h3>
          </div>
          <p>Storage: <%= product.storage %></p>
          <p><%= product.description %></p>
          <p>Ingredient: <%= product.ingredient %></p>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
